.education {

  &__inst {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #ff7011;
    padding-top: 10px;
  }

  &__time {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #a8a8a8;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding-top: 10px;

    & span {
      color: #ff7011;
      margin-left: 10px;
    }
  }
}
