.main {

  &__info-profession {
    font-size: 20px;
    font-weight: 700;
  }

  &__info-name {
    font-size: 45px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__info-description {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    color: #ff6b08;

    & span {
      display: block;
    }
  }
}
