.dropdown {
  padding: 5px 17px;
  margin-left: 20px;
  font-size: 14px;
  color:  #346cb0;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
}
