.photo {

  &__img {
    max-width: 800px;
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -120px;
    color: #ffffff;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.7);

    &-header {
      max-width: 350px;
      text-align: center;
      margin: 0 auto;
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 10px;
    }

    &-para {
      font-weight: 400;
    }
  }
}

.para {
  max-width: 660px;
  text-align: center;
  position: relative;
  top: -350px;
  color: #ffffff;
  margin-bottom: -32px;
}
