.count-text {
  margin-left: 100px;
  margin-bottom: 10px;
}

//.count {
//  width: 50px;
//  height: 25px;
//  border: 1px solid grey;
//  border-radius: 4px;
//  padding: 5px;
//  margin-left: 100px;
//}
