.block {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  padding-top: 50px;
  color: #0000CD;
}

.logo {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
