.block {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.block-para {
  color: #ffffff;
  font-size: 16px;
  margin-right: 80px;
}

.block-select {
  padding: 5px 20px;
  font-family: Montserrat;
  background-color: #bdd3ed;
  color: #346cb0;
  border-radius: 5px;
  border: 1px solid #bdd3ed;

  &:hover {
    background-color: #ffffff;
    border: 1px solid #ffffff;
  }
}
