.wrapper-holiday {
  max-width: 600px;
  width: 100%;
  margin: 15px auto;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 5px;
}

.block-holiday {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-left: 50px;
  line-height: 20px;
  word-spacing: 2px;
  font-size: 15px;
  font-weight: 400;
  color: #346cb0;
}

.btn {
  margin: 5px;
  border: 1px solid #bdd3ed;
  background-color: #bdd3ed;
}
