.block-button {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 250px;
}

.donuts {
  text-align: center;
  position: relative;
  top: -100px;
}

.step {
  width: 15px;
  height: 15px;
  margin: 0 3px;
  background-color: rgba(250, 250, 250, 0.1);
  border: 1.2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;

  &__active {
    background-color: rgba(250, 250, 250, 1);
  }
}
