.skills-container {
  margin-bottom: 50px;

  &__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 50px;
    padding-bottom: 10px;
  }

  &__list {
    font-size: 15px;
    line-height: 24px;
    list-style: none;
    color: #d8dadd;

    & li::before {
      content: "\2022";
      font-weight: bold;
      font-size: 16px;
      color: #ff6b08;
      padding-right: 20px;
      padding-left: 25px;
    }
  }

  &__item {
    padding-top: 5px;
  }
}
