.profession {
  padding-bottom: 10px;

  &__time {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #a8a8a8;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 15px;

    & span {
      color: #ff7011;
      margin-left: 10px;
    }
  }

  &__duties {
    padding-left: 15px;
    padding-top: 7px;
  }

  &__duties-item {
    padding-left: 15px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #595959;
  }
}
