.block-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found {
  font-size: 20px;
  margin-bottom: 20px;
}

.button {
  padding: 5px 20px;
  font-family: Montserrat;
  font-weight: 400;
  background-color: #bdd3ed;
  color: #346cb0;
  border-radius: 5px;
  border: 1px solid #bdd3ed;

  &:hover {
    background-color: #f5f7fa;
    border: 1px solid #f5f7fa;
  }
}
