.contacts-list {
  max-width: 300px;
  width: 100%;
  padding: 10px 10px 0 50px;

  &__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.contacts-item {
  list-style-type: none;

  &__i {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  &__tel, &__email {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: grey;
    padding-left: 10px;
    text-decoration: none;
  }
}
