.navbar {
  margin-bottom: 20px;
  background-color: #f5f7fa;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.navbar-item {
  padding: 0 50px 0 50px;
  list-style: none;
}

.nav-link {
  color: #595959;
  text-decoration: none;

  &:hover {
    color: #bdd3ed;
  }
}
