.main {

  &__projects {
    margin-top: 60px;
    padding-bottom: 20px;
  }

  &__projects-title {
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__projects-list {
    padding-left: 15px;
    color: #595959;

    & a {
      padding-left: 15px;
      font-size: 15px;
      line-height: 24px;
      color: #595959;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
